{% load static %}
  <footer class="uui-footer07_component">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xlarge">
              <div><em>Autorzy nie ponoszą odpowiedzialności za skutki podjętych decyzji inwestycyjnych na podstawie niniejszego tekstu. Każdy inwestor powinien dokonać własnej oceny ryzyka i korzyści związanych z wybraną formą inwestycji.</em></div>

          <div class="uui-footer07_bottom-wrapper"><img src="{% static 'images/logo_2.png' %}" loading="lazy" width="222" alt="">
            <div class="uui-text-size-small text-color-gray500">© 2024, ahekonomia</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
