
{% load static %}

<div data-w-id="3fab52f2-0981-8f92-0198-1b71ac414db3" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="uui-navbar07_component w-nav">
    <div class="uui-navbar07_container">
      <a href="{% url 'home' %}" class="uui-navbar07_logo-link w-nav-brand">
        <div class="uui-logo_component"><img src="{% static 'images/logo_2.png' %}" loading="lazy" width="100" alt="Untitled UI logotext" class="uui-logo_logotype"><img src="images/untitled-ui-logo.png" loading="lazy" alt="Logo" class="uui-logo_image"></div>
      </a>
      <nav role="navigation" class="uui-navbar07_menu w-nav-menu">
        <a href="{% url 'blog' %}" class="uui-navbar07_link w-nav-link"> Blog </a>
        <a href="{% url 'quiz_all' %}" class="uui-navbar07_link w-nav-link">Quizy</a>
        <a href="{% url 'authors' %}" class="uui-navbar07_link w-nav-link">Autorzy</a>
      </nav>
      <div class="uui-navbar07_menu-button w-nav-button">
        <div class="menu-icon_component">
          <div class="menu-icon_line-top"></div>
          <div class="menu-icon_line-middle">
            <div class="menu-icon_line-middle-inner"></div>
          </div>
          <div class="menu-icon_line-bottom"></div>
        </div>
      </div>
    </div>
  </div>