{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="section_team09">
    <div class="uui-page-padding-3">
      <div class="uui-container-large-3">
        <div class="uui-padding-vertical-xhuge-3">
          <div class="w-layout-grid uui-team09_component">
            <div class="uui-team09_content">
              <h2 class="uui-heading-medium-3">Poznaj nasz zespół</h2>
              <div class="uui-space-xsmall-3"></div>
              <div class="uui-text-size-large-3">Zespół naszych autorów to grupa doświadczonych i kreatywnych specjalistów w dziedzinie marketingu. Rafał Kasprzyk, Bartosz Nowacki i Mateusz Kusy łączą swoje różnorodne talenty i pasje, aby tworzyć skuteczne strategie marketingowe oraz wartościowe treści.</div>
              <div class="uui-space-medium-3"><img src="{% static 'images/ai-1.webp' %}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 42vw"  alt="" class="image"></div>
            </div>
            <div class="uui-team09_list-wrapper">
              <div class="w-layout-grid uui-team09_list">
                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Rafał Kasprzyk</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Rafał</strong> to entuzjasta marketingu cyfrowego, znany z umiejętności tworzenia skutecznych strategii reklamowych. W dzieciństwie uwielbiał budować zamki z piasku, co rozwinęło jego kreatywność i zmysł do planowania. Rafał jest także zapalonym fanem technologii VR, które analizuje pod kątem ich zastosowania w marketingu. W wolnym czasie podróżuje i testuje najnowsze gadżety technologiczne. Interesuje się również astronomią i często spędza noce, obserwując gwiazdy.</div>
                  </div>
                </div>
                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Bartosz Nowacki</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Bartosz </strong>to kreatywny strateg marketingowy, specjalizujący się w storytellingu. Jego miłość do opowieści zaczęła się w dzieciństwie, kiedy spędzał godziny, czytając książki przygodowe i bawiąc się lalkami. Jest wielkim fanem Gwiezdnych Wojen, co często inspiruje jego kreatywne kampanie reklamowe. Bartosz uwielbia podróże, a każda nowa destynacja dostarcza mu nowych pomysłów na historie, które może wykorzystać w pracy. Jego pasją jest również fotografia, którą rozwija podczas swoich podróży.</div>
                  </div>
                </div>
                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Mateusz Kusy</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Mateusz </strong>jest ekspertem od marketingu contentowego, który z pasją tworzy wartościowe treści. Jego zamiłowanie do pisania zaczęło się już w dzieciństwie, kiedy pisał krótkie opowiadania o superbohaterach. Adam jest także zapalonym biegaczem i regularnie bierze udział w maratonach, co dodaje mu energii i inspiracji do pracy. Interesuje się historią oraz eksperymentuje w kuchni, tworząc nowe, niebanalne przepisy. Znajomi śmieją się, że potrafi przebiec maraton i upiec trzy rodzaje ciasteczek w tym samym czasie.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}