{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="section_team09">
    <div class="uui-page-padding-3">
      <div class="uui-container-large-3">
        <div class="uui-padding-vertical-xhuge-3">
          <div class="w-layout-grid uui-team09_component">
            <div class="uui-team09_content">
              <h2 class="uui-heading-medium-3">Poznaj nasz zespół</h2>
              <div class="uui-space-xsmall-3"></div>
              <div class="uui-text-size-large-3">Zespół naszych autorów to grupa studentów AHE z pasją tworzących dla Was treści o ekonomii i zrównoważonym inwestowaniu. Rafał Kasprzyk, Bartosz Nowacki, Mateusz Kusy i Krzysztof Hutnik łączą swoje różnorodne talenty i pasje, aby dostarczać wartościowe analizy i strategie inwestycyjne.

</div>
              <div class="uui-space-medium-3"><img src="{% static 'images/autorzy.webp' %}" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 42vw"  alt="" class="image"></div>
            </div>
            <div class="uui-team09_list-wrapper">
              <div class="w-layout-grid uui-team09_list">
                <div class="uui-team09_item">
  <div class="uui-team09_item-content">
    <div class="uui-heading-tiny-3">Rafał Kasprzyk</div>
    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
    <div class="uui-space-xsmall-3"></div>
    <div class="uui-text-size-medium-3"><strong>Rafał</strong> to student AHE oraz entuzjasta ekonomii, znany z umiejętności tworzenia fascynujących treści o zrównoważonym inwestowaniu. Już w dzieciństwie uwielbiał budować zamki z piasku, co rozwinęło jego kreatywność i zmysł do planowania. Rafał jest także zapalonym fanem technologii VR. W wolnym czasie podróżuje i testuje najnowsze gadżety technologiczne. Interesuje się również astronomią i często spędza noce, obserwując gwiazdy.</div>
  </div>
</div>
<div class="uui-team09_item">
  <div class="uui-team09_item-content">
    <div class="uui-heading-tiny-3">Bartosz Nowacki</div>
    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
    <div class="uui-space-xsmall-3"></div>
    <div class="uui-text-size-medium-3"><strong>Bartosz</strong> to student AHE oraz kreatywny strateg, specjalizujący się w ekonomicznych analizach. Jego miłość do opowieści zaczęła się w dzieciństwie, kiedy spędzał godziny na czytaniu książek przygodowych. Jest wielkim fanem Gwiezdnych Wojen, co często inspiruje jego analizy i strategie inwestycyjne. Bartosz uwielbia podróże, a każda nowa destynacja dostarcza mu nowych pomysłów na analizy ekonomiczne, które może wykorzystać w swojej pracy. Jego pasją jest również fotografia, którą rozwija podczas swoich podróży.</div>
  </div>
</div>
<div class="uui-team09_item">
  <div class="uui-team09_item-content">
    <div class="uui-heading-tiny-3">Mateusz Kusy</div>
    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
    <div class="uui-space-xsmall-3"></div>
    <div class="uui-text-size-medium-3"><strong>Mateusz</strong> to student AHE a także ekspert od obligacji skarbowych, który z pasją tworzy wartościowe treści o ekonomii. Jego zamiłowanie do pisania zaczęło się już w dzieciństwie, kiedy pisał krótkie opowiadania o superbohaterach. Mateusz jest także zapalonym biegaczem i regularnie bierze udział w maratonach, co dodaje mu energii i inspiracji do pracy. Interesuje się historią oraz eksperymentuje w kuchni, tworząc nowe, niebanalne przepisy. Znajomi śmieją się, że potrafi przebiec maraton i upiec trzy rodzaje ciasteczek w tym samym czasie.</div>
  </div>
</div>
<div class="uui-team09_item">
  <div class="uui-team09_item-content">
    <div class="uui-heading-tiny-3">Krzysztof Hutnik</div>
    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
    <div class="uui-space-xsmall-3"></div>
    <div class="uui-text-size-medium-3"><strong>Krzysztof</strong> to student AHE oraz pasjonat ekonomii, specjalizujący się w zrównoważonym inwestowaniu. Już od najmłodszych lat interesował się rynkami finansowymi, a jego ulubioną zabawą było prowadzenie wymyślonych firm. Krzysztof jest także entuzjastą ekologii, co skłoniło go do zgłębiania tematyki inwestycji, które nie tylko przynoszą zysk, ale także są korzystne dla środowiska. W wolnym czasie lubi wspinaczkę górską oraz fotografowanie przyrody. Jest również miłośnikiem literatury science fiction, co często inspiruje jego analizy przyszłościowych trendów ekonomicznych.</div>
  </div>
</div>







</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}