{% extends 'main.html' %}
{% load static %}
{% block content %}

    <header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Obligacje skarbowe</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/obl.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h4>Wstęp</h4>
                <p><strong>Definicja: </strong> Obligacje skarbowe są to instrumenty finansowe, które państwo emituje, aby pozyskać środki na swoje projekty lub funkcjonowanie.</p>
                <p>‍</p>
                <p><strong>Uwaga:</strong> Myśląc o obligacjach, zapewne zastanawiacie się czy zakup jest związany z prowizją? W przypadku obligacji skarbowych detalicznych za pomocą Pekao czy PKO nie wiąże się z prowizją- co mocno odróżnia obligacje skarbowe względem obligacji korporacyjnych notowanych na giełdzie</p>
                <p>‍</p>
                <p><strong>Charakterystyka:</strong> Stanowią one formę długu, gdzie inwestorzy, nabywając obligacje, udzielają państwu pożyczki, otrzymując w zamian obietnicę zwrotu zainwestowanego kapitału wraz z odsetkami.</p>
                <p>‍</p>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/obl_2.webp' %}" loading="lazy" alt=""></div>
                </figure>
                <p>‍</p>
                <p><strong>Rodzaje obligacji skarbowych - część 1 - obligacje stałoprocentowe</strong></p>
                <p>Odwołując się do obecnej oferty obligacji skarbowych - warto na początek wyjaśnić definicję obligacji stałoprocentowej na przykładach.</p>
                <ul role="list">
                  <li>obligację stałoprocentowe - umawiamy się na stałe oprocentowanie (3% albo 6,6%)  w skali roku na ustalony okres czasu (OTS - 3 miesiące/ TOS - 3lata) za nominał 100zł za każdą 1 obligację - przy tego typu obligacji już przy zakupie  wiemy jakie dostaniemy odsetki netto i brutto, gdy okres się skończy.</li>
                </ul>
                <p>‍</p>
                <p>oferta obecnych obligacji skarbowych: <a href="https://www.obligacjeskarbowe.pl/oferta/">https://www.obligacjeskarbowe.pl/oferta/</a>
                </p>
                <p>darmowy kalkulator obligacji: <a href="https://kalkulatorobligacji.pl/">https://kalkulatorobligacji.pl/</a>
                </p>
                <p>‍</p>
                <h4><strong>Obligacje stałoprocentowe - tabela</strong></h4>
                <figure style="max-width:905pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUdkfF9eETSkvbgYIuXCcWa0v_VCO8-8qJRblJu0rpZ4Fhjw4NmWW0zL76NjBa4Cg9nGkOsN3rLdY8CgfkdXx7bqA-rXxD8PrYibpGomL0sCuLY1eFxpF4wywVmnxV--jfyQf_pX0LQJJOUExAd9Jlc9GGb19jgIs2048.png' %}" alt=""></div>
                </figure>
                <p>‍</p>
                <p><strong>Kiedy warto zastanowić się nad obligacją stałoprocentową?</strong></p>
                <figure style="max-width:1002pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUewIp3JBskP1HEneP5CqrNMZ5a3u7Kr2aS37H8UVcs5DrNnmnvq2Z-OmM1-i6sOcjQHKZqmwaoJ7hDJufFv9nUBpOEfqjUiK2duuA3ajXLIUki4Zwjrm89UIyCIimHtlMxrVflAmZItAEmXh6qMqOwoQx6f5HtCs2048.png' %}" alt=""></div>
                </figure>
                <p>Obligacje stałoprocentową (a  w kontekście obecnej oferty -  zwłaszcza 3 letnią) jest szczególnie warto rozważać w momencie wysokich stóp procentowych. </p>
                <p>Jeśli uważamy, że RPP (rada polityki pieniężnej) będzie w kolejnych miesiącach obniżać stopy procentowe (co przekłada się np. na wysokość rat kredytów hipotecznych w PLN czy procent na jakie oferują nam lokaty banki) - oznacza to, obligacje skarbowe stałoprocentowe proponowane nam przez emitenta będą prawdopodobnie oprocentowane mniej. </p>
                <p>‍</p>
                <p><strong>Rodzaje obligacji skarbowych - część 2 - obligacje zmiennoprocentowe</strong></p>
                <p>   Obligacja zmiennoprocentowa to taka, której oprocentowanie zmienia się w czasie w zależności od określonego wskaźnika lub formuły. W naszym przypadku obligacje zmiennoprocentowej są obligacje roczne ROR i dwuletnie DOR, których oprocentowanie jest uzależnione od stopy referencyjnej NBP. W pierwszym miesiącu oprocentowanie wyniesie dla ROR, 6,25% a dla DOR, 6,50%, a w kolejnych miesiącach jest równe stopie referencyjnej NBP (na listopad wynosi ona 5,85% - jaka będzie w grudniu jeszcze nie wiemy) plus marży (dla ROR to 0% dla DOR to 0,50 %). Ciekawostką jest, że odsetki nie są kumulowane jak w przypadku TOS (3 letniej) - a wypłacane na nasze konto maklerskie/bankowe regularnie co miesiąc (odejmując przy tym podatek belki 19%) </p>
                <figure style="max-width:866pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUexYXKKuozNJEibIpET1MTzZLj3ce8dkOh-p_8vvGke4EuW8nRzVyWjTQna9IIj4gaaMhVotBqhYp0pe8pAd1ltVhpK5Gq9qRyeMPdOHsGb4YA2ra-ImJhrAMYNDzCpxOYMarmdod6-afAmudtxKgDvuGw6Sk9Rs2048.png' %}" alt=""></div>
                </figure>
                <p>‍</p>
                <p><strong>Symulacja odsetek z “zgadnietą” stopą referencyjna - dla ROR i DOR</strong></p>
                <p>Tutaj “zgaduje” jakie będą stopy procentowe - i jak (mniej więcej) będzie się zmieniać oprocentowanie obligacji zmienno procentowych względem nich. Przyjąłem oferty obligacji ROR i DOR  za sierpień 2023 w kwocie 1000 zł i jak mogą się klarować odsetki z nich w kolejnych miesiącach (wypłacanych na konto).          <br> Warto pamiętać że oferty obligacje z kolejnych miesięcy mogą się różnić (np. w DOR z sierpnia była stopa referencyjna  + 0,1% a za listopad wynosi stopa referencyjna + 0,5%) </p>
                <figure style="max-width:1492pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUehadT5el6aP-C6azYd1Fbrde5LNtWGy4Mmdh_Y0nP5CVfo49uMhrEEnlM-iKpaiKujFwrybhZNOegilXDK4XEHcc2_EgS4sIeM9EYqU3TO1YXwLi0baBKqn7Iyk4NPhXxDssxhOY-kF258SsGQAZZsGyXor2Fas2048.png' %}" alt=""></div>
                  <figcaption><strong>Kiedy warto zastanowić się nad obligacją zmiennoprocentową?</strong></figcaption>
                </figure>
                <figure style="max-width:1002pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUewIp3JBskP1HEneP5CqrNMZ5a3u7Kr2aS37H8UVcs5DrNnmnvq2Z-OmM1-i6sOcjQHKZqmwaoJ7hDJufFv9nUBpOEfqjUiK2duuA3ajXLIUki4Zwjrm89UIyCIimHtlMxrVflAmZItAEmXh6qMqOwoQx6f5HtCs2048.png' %}" alt=""></div>
                  <figcaption>Obligacje zmiennoprocentową w dwóch przypadkach  1) gdy zależy nam na stałej wypłacie odsetek comiesięcznych2) gdy przewidujemy że RPP będzie zmuszona w najbliższych miesiącach podnosić stopy procentowe - w przypadku stałoprocentowych pojawia się problem “kupować teraz gdy wynosi np. 4% czy za miesiąc kiedy po podwyżce stóp procentowych będzie 5%” - w przypadku zmienno procentowej nie musimy zaprzątać sobie tym głowę.  </figcaption>
                </figure>
                <p>‍</p>
                <p><strong>Rodzaje obligacji skarbowych - część 3 - obligacje indeksowane inflacją </strong></p>
                <p>Obligację skarbowe notowane inflacją w obecnej ofercie są to 4 letnie COI i 10 letnie EDO. Pierwszy rok jest zgodnie z ofertą, oprocentowany odpowiednio na 6,75% dla COI i 7% dla EDO. </p>
                <p> Po pierwszym roku, oprocentowanie się zmienia - będzie wynosić inflację za miesiąc poprzedzający koniec cyklu. Przykład - kupiłem 1 COI i 1 EDO  w 20 listopada 2023 - oprocentowane są odpowiednio 6,75% i 7% w skali roku.  20 listopada 2024 z kolei następuje zmiana oprocentowania, sprawdzana jest inflacja odnotowana przez GUS za miesiąc poprzedzający - a więc październik 2024 - załóżmy, że inflacja (r/r) będzie miała nadal lekką tendencję spadkową jak obecnie i wyniesie w październiku 2024, 3,5% procenta. Oznacza to, że oprocentowanie COI będzie w drugim roku wynosić 3,5% + 1,25% = 4,75% a oprocentowanie EDO = 3,5% + 1,5% = 5%. Adekwatny schemat będzie się dziać 20 listopada 2025 itd - aż do wykupu obligacji.</p>
                <p> Wartym odnotowania jest fakt, że COI wypłaca nam odsetki co roku, podczas gdy EDO wypłacają odsetki dopiero po 10 latach. Oczywiście możemy wcześniej zwrócić się o zwrot od skarbu państwa, ale kosztem zmniejszenia odsetek o 0,70 zl dla COI oraz 2 zł dla EDO </p>
                <p><strong>Obligacje notowane inflacją - tabela</strong></p>
                <figure style="max-width:766pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUcyb28Teo6Baz0LWQ_1oJ26Lqv_EbWEXWOZQ5-UI6hBQQ537WWQBbjBXvudchXLf2a_je62zTiHQP-6LuVopBP6_H5-sbwnkfU_nmlZPBNAbMtMSngY8i3xqEuQizZl2NdPR_cRbtz2uQz0j3uQlVNcXwookCc2s2048.png' %}" alt=""></div>
                  <figcaption><strong>Symulacja odsetek z zaproponowaną inflację - dla COI i EDO</strong></figcaption>
                </figure>
                <p>Symulacja na pierwsze 16 miesięcy. warto pamiętać że po 1 roku COI - inflacja + 1,25% , EDO - inflacja + 1,5%. COI wypłaca odsetki co roku</p>
                <figure style="max-width:1180pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUeLqguqJo5oh6YVF4N8GEDM-cWzP6Gk1CosYEz-lkkCfc_bll1uHYHIyyRaAh54js90vQtJdzX-YQZSZXUxBWmF58PdUuYU4lSABn3WxENar0AorgvXohx74iS7v7zr9c2XXEulokewXngBEuO_IMqjPdvtFYgs2048.png' %}" alt=""></div>
                </figure>
                <p><strong>Kiedy warto zastanowić się nad obligacją notowaną inflacją?</strong></p>
                <figure style="max-width:977pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUeyAiJx4TofjubBoFbCXyVakFw9EIIMWYthZxCzlV5eOmOtZUNLzRyHWZYIIostd1h1jb1qL76khNP2Kc8TJF2t5PaLmjtGo70CLZAiYPTqoS-DuU5nS6S_ONDUJfFBl93cUzy-u4UYzkYeFQz-cBnZAeFdOQMs2048.png' %}" alt=""></div>
                </figure>
                <p>Obligacje notowane inflacją warto rozważać przede wszystkim kiedy spodziewamy się spowolnienia gospodarczego lub recesji. Ten trudny okres dla gospodarek jest zazwyczaj okupiony wyższą inflacją. związane z między innymi cen surowców oraz niepewnością rynków. Występowanie klęski żywiołowej czy wojen w danym regionie również ma wpływ na wzrost tych parametrów. </p>
                <p>Oczywiście ciężko się spodziewać byśmy przewidzieli kupując obligację EDO w wrześniu 2021, że agresja Rosji na Ukrainę spowoduje, że od wrześniu 2022 - oprocentowanie naszych obligacje będzie przez rok 16%, ale jest to jakaś forma zabezpieczenia się nas przed ciężkimi czasami, których nie do końca jesteśmy w stanie sobie uświadomić. </p>
                <p>Ta forma inwestycji jest warta rozważenia dla osób które zbierają się na zakup jakiejś większego obiektu (samochodu? mieszkania?) ale za 4-5 lat. Często zbieramy takie pieniądze wyszukując korzystne lokaty, ale nie rozważamy obligacji skarbowych przez niewiedze</p>
                <p><strong>Ryzyko inwestycyjne - lokaty a obligacje skarbowe</strong></p>
                <p>Nie jesteśmy wróżbitami by jasno powiedzieć “obligacje są bezpieczniejsze” bo to zawsze zależy od świata, który nas otacza. Ale trzeba sobie uświadomić, że gwarancję banków, którym powierzamy swoje środki - są też gwarantowane przez państwo. A faktem jest, że przez ostatnie 30 lat zdarzały się banki, które z różnych przyczyn upadały (np. bank spółdzielcze na podkarpaciu. w ostatnich dziesięcioleciu oraz getin bank), z kolei nasz kraj od transformacji nie osiągnął tego pułapu. Obecnie regulacje prawa bankowego w Polsce  sprawia, że 100 tysięcy euro jest przez BFG gwarantowany na naszym koncie w konkretnym banku.</p>
                <p>Dlatego też warto rozważyć obligacje jako formę dywersyfikacji, tak często zaniedbywana. Różne rodzaje zarobku i inwestowania mogą pozwolić nam lżej przetrwać trudniejszy czas, a ten z czasem zawsze nadchodzi. Czy to związany z cyklem gospodarczym czy naszymi własnymi zmartwieniami.</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>


{% endblock content %}