{% extends 'main.html' %}
{% load static %}
{% block content %}

<header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Lokaty a Obligacje</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/lok_v_obl.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <p><strong>Czym są lokaty:</strong></p>
                <ul role="list">
                  <li>Najprościej mówiąc – jest to pożyczanie bankowi pieniędzy,</li>
                  <li>Oprocentowane zazwyczaj w skali roku.</li>
                  <li>Większość lokat dotyczy okresu od 4 do 8 miesięcy.</li>
                  <li>Zachęcam do zapoznania się z stroną „rankomat.pl” gdzie można porównać oferty lokat.</li>
                  <li>
                    <a href="https://finanse.rankomat.pl/oszczedzanie/porownywarka-lokat/?period=24">https://finanse.rankomat.pl/oszczedzanie/porownywarka-lokat/?period=24</a>
                  </li>
                </ul>
                <p><strong>Czym są obligacje:</strong></p>
                <ul role="list">
                  <li>Instrument emitowany przez państwo lub firmę.</li>
                  <li>Najprościej mówiąc jest to pożyczanie pieniędzy państwu lub firmie. </li>
                  <li>Większość ofert obligacji dotyczy od roku do czterech lat.</li>
                  <li>Uzależniona od stopy procentowej ogłoszonej przez NBP.</li>
                </ul>
                <h4>Porównanie zalet</h4>
                <p><strong>Zalety Lokat:</strong></p>
                <ul role="list">
                  <li>Możliwość anulowania lokaty i szybki zwrot gotówki na nasze konto</li>
                  <li>Pożyczamy pieniądze instytucji, której i tak ufamy i trzymamy tam pieniądze.</li>
                  <li>Oprocentowanie często większe niż obligację.</li>
                  <li>Większość nastawiona na krótki okres kilku miesięcy.</li>
                </ul>
                <p><strong>Zalety Obligacji:</strong></p>
                <ul role="list">
                  <li>Kwota – możemy wpłacić zarówno 100 zł jak i 100 000 zł.</li>
                  <li>Prostota – zakładamy konto raz i możemy cyklicznie dokupywać.</li>
                  <li>Długotrwała inwestycja– od roku do 10 lat.</li>
                  <li>Obligacje 4 i 10 letnie oferują nam skorelowanie z inflacją r/r.</li>
                  <li>Lokaty oferowane przez banki nie zawsze biorą pod uwagę wzrost oprocentowania stopy (np. parę miesięcy po 24.02.2024r.).</li>
                </ul>
                <h4>Porównanie wad</h4>
                <p><strong>Wady Lokat:</strong></p>
                <ul role="list">
                  <li>Lokaty oferowane przez banki nie zawsze biorą pod uwagę wzrost oprocentowania stopy (np. parę miesięcy po 24.02.2024r.).</li>
                  <li>Dobre oferty lokat są często ofertą promocyjną dla nowych klientów…</li>
                  <li>Potrzeba wyszukiwania nowych lokat gdy nasza bank przestanie je proponować.</li>
                  <li>Krótki okres – większość nie daje  możliwości zawarcia lokaty na stały procent na np. 2 lata</li>
                </ul>
                <p><strong>Wady Obligacji</strong></p>
                <ul role="list">
                  <li>Wycofanie obligacji i powrót środków może trwać 7 dni.</li>
                  <li>Zazwyczaj niżej oprocentowane, gdy oferujemy z ofertą lokat.</li>
                  <li>Średnio i długoterminowa inwestycja (od 1-2 lat do 10-12lat).</li>
                </ul>
                <p>‍</p>
                <p>‍</p>
                <p>‍</p>
                <p>‍</p>
                <p>‍</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>


{% endblock content %}