{% extends 'main.html' %}
{% load static %}
{% block content %}
  <header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Pracownicze Plany Kapitałowe (PPK)</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/ppk.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h4>Wstęp</h4>
                <p>Pracownicze Plany Kapitałowe działają na zasadzie współfinansowania. Oznacza to, że na rachunek PPK wpłacają pieniądze trzy strony: pracownik, pracodawca i państwo. Podstawowa wysokość składki to 2% wynagrodzenia brutto pracownika, z czego 1,5% wpłaca pracodawca, a 0,5% pracownik. Pracownik może dobrowolnie zwiększyć swoją składkę do 4%.Środki zgromadzone na rachunku PPK są inwestowane w fundusze inwestycyjne. Pracownik może wybrać jeden z ośmiu funduszy inwestycyjnych, różniących się się profilem ryzyka i oczekiwaną stopą zwrotu. Zgromadzone na rachunku PPK środki można wypłacić po ukończeniu 60 roku życia. Wcześniej można wypłacić środki z PPK w określonych sytuacjach, np. na leczenie czy zakup mieszkania.</p>
                <p>Jeśli chcesz sprawdzić ile możesz zaoszczędzić dzięki PPK, zachęcamy do skorzystania z kalkulatora PPK dostępnego pod adresem www: <a href="https://www.mojeppk.pl/dla-pracownika/kalkulator.html"><em>https://www.mojeppk.pl/dla-pracownika/kalkulator.html</em></a>
                </p>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUeuqWtw2i8R5aV0woyWU9ybk8Szxk3DTukUs-fKYIzEEWsutjlkvukyC0feBsGu4l7H5OCMCuf3GRddWLKjtT8oXDt1mLPf41RX8HPBixkgee-oTqiSALxboCFyapBI28o2ZKUvcgUGM250KKjbjYyh50IBRwdLs2048.png' %}" alt=""></div>
                </figure>
                <figure style="max-width:658px" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUeqJDgIkBGxzuzB1LUXHQ1itmEZQPuJYXURjPg4LZd0wPE1Dj4csb2cciGVW0JAWkIXdqBZf7-63O884x8VhJ9j7UwCkLsfUOChj3w8RmMme7LFk_BzpUF5DRYMlmnQAGKLfJIQv6rMj8Rdke8NQykp7hmpGCYUs2048.png' %}" alt=""></div>
                </figure>
                <p>‍</p>
                <p>Jeśli chcesz dowiedzieć się więcej, zapraszamy do udziału w bezpłatnych szkoleniach, podczas których eksperci PPK przedstawiają założenia programu. Podczas szkoleń możesz też zadać swoje pytania. Więcej o szkoleniach PPK możesz dowiedzieć się pod adresem www: </p>
                <p>
                  <a href="https://www.mojeppk.pl/szkolenia/dla-pracownika.html#szkolenia"><em>https://www.mojeppk.pl/szkolenia/dla-pracownika.html#szkolenia</em></a>
                </p>
                <p>‍</p>
                <p>‍</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock content %}