{% extends 'main.html' %}
{% load static %}
{% block content %}
<header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Jak inwestować w złoto?</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/gold.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h4>Wstęp</h4>
                <p> Złoto już od tysięcy lat jest uniwersalnym nośnikiem wartości. Najważniejszą zaletą takiej inwestycji jest niemal zupełny brak wpływu zawirowań politycznych i gospodarczych na cenę złota. Wartość tego kruszcu nie zmienia się znacząco nawet w okresach wielkich kryzysów.</p>
                <p>Wartość złota jest również stabilna wobec wzrostu inflacji. Dzieje się tak dlatego, że o ile pieniądze można dodrukować to podaż złota jest stała i nie można w sposób sztuczny wpłynąć na jego cenę. Podaż ta uzależniona jest od możliwości wydobycia i nic nie wskazuje na to, żeby wydarzyło się cokolwiek co mogłoby spowodować nagły wzrost wydobycia lub odkrycia nowych nieznanych nam dotąd złóż.</p>
                <p>‍</p>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/gold_2.webp ' %}" loading="lazy" alt=""></div>
                </figure>
                <p>‍</p>
                <h4>Poniżej przykład siły nabywczej złota na przestrzeni 100 lat!</h4>
                <figure style="max-width:605pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUdJDsBtq_GisEkytorqFesdXMxAqeZbps9oYlBTDxz0G9Rx_FWFgJU4KeTHJwsFCw2vhrMbrX8jTAA1qHqfeZe6cGvvXBkWMUyZ5b-fL6CXcMDy1tVlYvtrBmqG5nSNOVYULbWJp_1UVbo0I0W2xwqPN9exS7brs2048.png' %}" alt=""></div>
                </figure>
                <p>Jak widzimy mimo upływu czasu za tę samą ilość złota możemy kupić auto współczesne, podobnie jak nasi przodkowie sprzed wieku 😊</p>
                <p>‍</p>
                <h4><strong>Jak inwestować w złoto?</strong></h4>
                <p>Inwestowanie w złoto wydaje się jedną z najłatwiejszych metod inwestycji. Ponieważ złoto jest produktem fizycznym nie potrzebujemy do zakupu pośredników, chociaż w pewnych sytuacjach warto z nich skorzystać.</p>
                <p>Sami możemy kupić np. złote monety czy sztabki zarówno stacjonarnie jak i przez internet. Takie inwestycje możemy ulokować w skrytce bankowej i właściwie do czasu sprzedaży nie musimy się nimi interesować.</p>
                <p>Jeśli jednak poważnie interesujemy się dywersyfikacją naszego portfela i zamierzamy inwestować systematycznie ale nie mamy środków na zakup całych sztabek to mamy możliwość skorzystania z firm, które sprzedadzą nam „kawałek sztabki”. Wówczas mamy możliwość nabywania złota lokując jedynie kilkadziesiąt złotych na raz.</p>
                <p>Najczęściej stosowaną jednostką w handlu złotem jest 1 uncja czyli 31,1 g. Wartość złota o tej wadze wynosi ok 9 800zł.<sup>1</sup></p>
                <p>‍</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock content %}