{% extends 'main.html' %}
{% load static %}
{% block content %}
<header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Akcje - przewodnik</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/akcje.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h4>Wstęp</h4>
                <ul role="list">
                  <li><strong>Akcje</strong> to papiery wartościowe emitowane przez spółki akcyjne, reprezentujące udział w kapitale zakładowym przedsiębiorstwa.</li>
                  <li>Posiadacze akcji, zwani akcjonariuszami, są współwłaścicielami firmy.</li>
                  <li>‍</li>
                </ul>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/akcje_2.webp' %}" loading="lazy" alt=""></div>
                </figure>
                <p>‍</p>
                <p><strong>Giełda</strong> to zorganizowany rynek, na którym dokonywane są transakcje kupna i sprzedaży akcji oraz innych papierów wartościowych</p>
                <p>‍</p>
                <p><strong>Przykłady giełd</strong>: </p>
                <p>Warszawska Giełda Papierów Wartościowych (GPW), </p>
                <p>New York Stock Exchange (NYSE), </p>
                <p>Nasdaq.</p>
                <p>‍</p>
                <p><strong>Funkcje giełdy</strong>:</p>
                <ul role="list">
                  <li><strong>Zapewnienie płynności</strong>: Umożliwienie inwestorom łatwego kupna i sprzedaży akcji.</li>
                  <li><strong>Odkrywanie cen</strong>: Ceny akcji ustalane są na podstawie bieżących ofert kupna i sprzedaży, co odzwierciedla ich wartość rynkową.</li>
                  <li><strong>Regulacje i nadzór</strong>: Giełdy działają pod ścisłym nadzorem, co zapewnia uczciwość i przejrzystość transakcji.</li>
                  <li>‍</li>
                </ul>
                <h4>Korzyści z posiadania akcji</h4>
                <p><strong>Zyski kapitałowe</strong></p>
                <ul role="list">
                  <li><strong>Wzrost wartości</strong>: Jedną z głównych korzyści z posiadania akcji jest potencjalny wzrost ich wartości. Jeśli cena akcji wzrasta, akcjonariusz może sprzedać je z zyskiem, co nazywane jest zyskiem kapitałowym.</li>
                  <li><strong>Przykład</strong>: Jeśli kupiłeś akcje firmy XYZ za 50 zł za sztukę, a ich cena wzrosła do 70 zł, sprzedając je, zyskujesz 20 zł na każdej akcji w momencie sprzedaży</li>
                </ul>
                <p>‍</p>
                <p><strong>Dywidendy</strong></p>
                <ul role="list">
                  <li><strong>Definicja</strong>: Dywidendy to część zysków spółki wypłacana regularnie akcjonariuszom. Mogą być wypłacane kwartalnie, półrocznie lub rocznie.</li>
                  <li><strong>Rodzaje dywidend</strong>:some text<ul role="list">
                      <li><strong>Gotówkowe</strong>: Wypłacane bezpośrednio na konto akcjonariusza.</li>
                      <li><strong>Akcyjne</strong>: W formie dodatkowych akcji.</li>
                    </ul>
                  </li>
                  <li><strong>Stabilne przychody</strong>: Regularne dywidendy mogą stanowić stałe źródło dochodu, zwłaszcza dla inwestorów długoterminowych.</li>
                  <li><strong>Przykład</strong>: Firma ABC wypłaca roczną dywidendę w wysokości 5 zł na akcję. Jeśli posiadasz 100 akcji, otrzymasz 500 zł.</li>
                </ul>
                <p>‍</p>
                <h4>Zalety akcji</h4>
                <ul role="list">
                  <li><strong>Łatwa dywersyfikacja </strong>- zakup akcji różnych akcji jest stosunkowo łatwe, także zagranicznych - co ogranicza zawsze istniejącą szansę, że zakupiona przez nas spółka epadnie</li>
                  <li><strong>Elastyczność inwestycyjna</strong> - na giełdach znanych z krajów rozwiniętych czy to nasza giełda polska, z USA, niemiecka czy francuska - bardzo łatwo sprzedać naszę akcje i dysponowąć pieniędzmi w ciągu kilku dni</li>
                  <li><strong>Ochrona przed inflacją</strong> - w dłuższym okresie - wartość akcji może rosnąć szybciej niż inflacja (firmy sprzedają produkty, które przez inflację drożeją - a więc i one mają większy przychód)</li>
                  <li><strong>Dostęp do informacji</strong> - spółki notowane na giełdzie są zobowiązane do cyklicznych raportów na temat sytuacji spółki, są częściej obserwowane przez media, duzi udziałowcy muszą zakomunikować wcześniej sprzedaż i kupno udziałó </li>
                </ul>
                <h4>Ryzyko związane z akcjami</h4>
                <p><strong>Wahania cen</strong> - wartość akcji może znacznie się zmieniać, co może prowadzić do strat finansowych</p>
                <p><strong>Ryzyko spółki</strong> - bankructwo firmy może skutkować całkowitą utratą inwestycji</p>
                <p><strong>Czynniki zewnętrzne</strong> - zmiany w gospodarce, polityce, regulacjach prawnych mogą wpływać na ceny akcji</p>
                <p>‍</p>
                <p>‍</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock content %}