{% extends 'main.html' %}
{% load static %}
{% block content %}
  <section class="uui-section_blogsection03">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="uui-blogsection03_component">
            <div class="uui-blogsection03_heading-wrapper">
              <div class="uui-blogsection03_heading">
                <div class="uui-max-width-large">
                  <h2 class="uui-heading-medium"><strong>Najnowsze Trendy, Strategie i Porady dla Profesjonalistów!</strong></h2>
                  <div class="uui-space-xsmall"></div>
                  <div class="uui-text-size-large">Witaj na naszym blogu! Tutaj znajdziesz cenne informacje i inspiracje z zakresu marketingu, które pomogą Ci rozwijać swoje umiejętności i osiągać sukcesy w dynamicznie zmieniającym się świecie biznesu. Od najnowszych trendów po sprawdzone strategie – wszystko w jednym miejscu! </div>
                </div>
              </div>
            </div>
            <div class="uui-blogsection03_list-wrapper">
              <div class="w-layout-grid uui-blogsection03_list">
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_1' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/pr2.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="{% url 'blog_post_1' %}" class="uui-blogsection03_category-link w-inline-block">
                    <div>Public Relations</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_1' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Doskonały pitch</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Jak stworzyć doskonały pitch? Z tego artykułu dowiesz się co zrobić żeby informacje o twojej organizacji znalazły odbiorców</div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/1.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Rafał Kasprzyk</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">19 czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">5 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09d9" href="#" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/Blog-Image-8.jpg' %}" alt="Meeting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>E-mail marketing</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09df" href="#" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Idealny email</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Marketing to fajna rzecz 2. Super super sprawa.<br></div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/2.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Bartosz Nowacki</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">11 Czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">5 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="#" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/Blog-Image-3.jpg' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Media Społecznościowe</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="#" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Marketing w socialach</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Tekst o marketingu 3. Marketing jest fajny!<br></div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Mateusz Kusy</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">12 Czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">10 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="#" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/Blog-Image-3.jpg' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Media Społecznościowe</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="#" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Marketing w socialach</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Tekst o marketingu 3. Marketing jest fajny!<br></div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Mateusz Kusy</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">12 Czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">10 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}