{% extends 'main.html' %}
{% load static %}
{% block content %}

    <header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Przykłady modeli komunikacji marketingowych - AIDA i RACE</h1>
              <div class="uui-blogpost01_content-top-2">
                <div class="uui-blogpost01_author-wrapper-2">
                  <div class="uui-blogpost01_author-image-wrapper-2"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-blogpost01_author-image-2"></div>
                  <div class="uui-blogpost01_author-text-2">
                    <div class="uui-blogpost01_author-heading-2">Mateusz Kusy</div>
                    <div class="uui-blogpost01_date-wrapper-2">
                      <div class="uui-text-size-medium-2">19 Cze 2024</div>
                      <div class="uui-text-divider-2">•</div>
                      <div class="uui-text-size-medium-2">5 minut</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, 94vw" src="{% static 'images/pr_comm.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h5>Wstęp</h5>
                <p>W dzisiejszym dynamicznie rozwijającym się świecie marketingu, efektywna komunikacja z konsumentami jest kluczowa dla sukcesu każdej marki. Dwa klasyczne modele komunikacji marketingowej, które pomagają zrozumieć proces, przez który przechodzi konsument przed podjęciem decyzji zakupowej, to AIDA i RACE.</p>
                <h5>Przykłady modeli komunikacji marketingowych - AIDA</h5>
                <p>‍</p>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/aida.webp' %}" loading="lazy" alt=""></div>
                </figure>
                <p>‍<strong>‍</strong></p>
                <p><strong>AIDA – </strong>jest to model klasyczny<strong> </strong>komunikacji marketingowej.</p>
                <p>Model opisuje cztery etapy przez, które przechodzi konsument zanim podejmie decyzjęzakupową: </p>
                <p>‍<strong>uwaga</strong>, <strong>zainteresowania</strong>, <strong>pragnienie </strong><strong>i </strong><strong>działanie</strong></p>
                <p>Czasem dodaje się też „S” – Satysfakcja, inni dodają „L” – lojalność</p>
                <p>AIDA w Polsce było już pokazywana w książkach o reklamie pod Skrótem „U.Z.D.A” –(uwaga, zainteresowanie, dążenie, akcja)</p>
                <p>Przykład użycia: Strona internetowa</p>
                <p>A– Strona główna przyciąga atrakcyjnym designem</p>
                <p>I– Strona zwiera szczegółowe informacje o produkcie, jego funkcjach, korzyściachczy opiniach.</p>
                <p>D– Strona podkreśla unikalność produktu, oferuje promocje lub ograniczonądostępność, aby zwiększyć poczucie pilności.</p>
                <p>A– Strona zwiera wyraźne przyciski „Kup teraz” „Dodaj do koszyka”</p>
                <p>‍</p>
                <h5>Przykłady modeli komunikacji marketingowych - RACE</h5>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/race.webp' %}" loading="lazy" alt=""></div>
                </figure>
                <p>‍</p>
                <p>Etapy: </p>
                <p><strong>Reach</strong> –„dosięgniecie klienta” – budowanie świadomości i widoczności marki, produktuczy usługi.</p>
                <p><strong>Act</strong> – „nawiązanieinterakcji” – promujemy kontent i takie funkcjonalności, które sprawią, żeużytkownicy będą chcieli pozostać w danym kanale i nie klikną „zamknij”</p>
                <p><strong>Convert – </strong>„sprzedaj” –konwertowanie leadów, w wynikuczego klient podejmuje decyzję o zakupie online bądź offline. Krok tensprowadza się do nakłonienia użytkownika striny internetowejczy kanału social mediowego, aby dokonałzakupu produktu lub usługi.</p>
                <p><strong>Engage</strong> – „spraw abyklient wrócił” – ostatni krok, który ma na celu stworzenie długoterminowejrelacji. Także celem w końcowej fazie jest zbudowanie.</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
            <div class="uui-blogpost01_author-wrapper-2">
              <div class="uui-blogpost01_author-image-wrapper-2"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-blogpost01_author-image-2"></div>
              <div class="uui-blogpost01_author-text-2">
                <div class="uui-blogpost01_author-heading-2">Mateusz Kusy</div>
                <div class="uui-blogpost01_date-wrapper-2">
                  <div class="uui-text-size-medium-2">19 Cze 2024</div>
                  <div class="uui-text-divider-2">•</div>
                  <div class="uui-text-size-medium-2">5 minut</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock content %}