{% extends 'main.html' %}
{% load static %}
{% block content %}

    <header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Wprowadzenie do ETF-ów</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/etf.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h4>Wstęp</h4>
                <p>ETF - ang. Exchange-traded fund, dosł. fundusz notowany na giełdzie. Najprościej mówiąc - jest to fundusz starający się naśladować najczęściej wykres wzrostów i spadków danego indeksu giełdowego - jak amerykański SP500, niemiecki DAX czy Polski Wig20. Mogą to być też ETF naśladujący giełdowe ceny miedzi, ropy, gazu czy danego sektora - jak sektor bankowy, cyberbezpieczeństwa czy zdrowia. Dzięki automatyzacji (kupujemy/sprzedajemy cyklicznie spółki bez analizy czy wzrosną czy spadną) dzięki czemu są stosunkowo tanie a także zyskują na popularności (co oznacza coraz większy wybór)</p>
                <p>‍</p>
                <p>‍</p>
                <h4>ETFy a Akcje</h4>
                <p> </p>
                <ul role="list">
                  <li>ETF na polski WIG20 - indeks największych spółek - działa tak jakbyśmy kupowali w odpowiednich proporcjach akcji z tego indeksu. Tylko, że jednym kliknięciem. </li>
                </ul>
                <p>‍</p>
                <ul role="list">
                  <li>Kupno akcji to jednak ryzyko, że kupimy akurat tą spółkę, która nie przetrwa ryzyka. Z ETF-em w jakimś stopniu zmniejszamy to ryzyko - bo inwestujemy jakby w całą giełdę</li>
                </ul>
                <p>‍</p>
                <ul role="list">
                  <li>Oczywiście ETF nie jest żadnym złotym gralem inwestowania- podlega mechanizmom rynkowym jak inne instrumenty giełdowe </li>
                </ul>
                <h4>ETFy a TFI</h4>
                <p> TFI - Towarzystwo funduszy inwestycyjnych, jeśli słyszałeś o inwestowaniu na giełdzie te 5-7 lat temu, bez zakładania konta u brokera giełdowego, a poprzez zarządzany przez ekspertów fundusz w twoim banku - to właśnie zazwyczaj jest TFI.</p>
                <p>TFI mają wiele wad - ich koszty zarządzania są drogie, występują często dodatkowa opłata za “dobre zagranie” zarządzającego, ciężko zwykłemu klientowi ocenić w co inwestuje np. fundusz “bezpieczna przystań” (by się wydawało, że jakieś obligacje - a może zawierać zmienny indeks metalów ziem rzadkich)</p>
                <p>TFI - jest w dużej mierze zarządzaniem aktywnym. Co zwiększa koszty.</p>
                <p>TFI - nie jest notowane na giełdzie, kupno i sprzedaż jest potrafi trwać dwa-trzy dni - kiedy to już giełda może odbić lub spaść </p>
                <h4>Rodzaje ETF-ów</h4>
                <p><strong>Equity </strong>- śledzą <strong>indeks giełdowy</strong>, przykładem mogą być etf na WIG20, S&amp;P 500</p>
                <p><strong>Obligacje </strong>- śledzą <strong>koszyk obligacji</strong>, który jest stale rotowany na podstawie terminu zapadalności obligacji. Przykładem może być polski etf: beta security TBSP - który jest koszykiem na</p>
                <p><strong>Sector </strong>- śledzi <strong>indeks sektorowy danej branży</strong>, przykładem może być Invesco Dynamic Pharmaceuticals ETF (PJP)</p>
                <p><strong>Waluty </strong>- śledzą względną wartość waluty lub koszyka wielu walut i mogą być wykorzystywane do spekulacji na wzrost lub spadek ich wartości, do dywersyfikacji portfela lub do zabezpieczenia walutowego. Przykładem może być Invesco CurrencyShares Euro Currency Trust (FXE)</p>
                <p><strong>Commodity </strong>- mogą być one podobne do sektorowych ETF-ów, gdzie sektorem jest np. górnictwo, ale są też ETF-y na konkretne towary. Należy jednak pamiętać, że ETF <strong>nie posiada fizycznie towaru</strong>, a jedynie angażuje się w transakcje na instrumentach pochodnych, które śledzą rozwój danego towaru. Przykładem może być SPDR Gold Shares. </p>
                <figure style="max-width:668pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUero1BAX4k9LPgLNDMZctzzzUU3b9bg7ThxO4ALd_6Q7fh5UXnAUebS6RAhw4pZ15X1CwV9sdxZmVYrhvBQZILLNCCxqxKDTkH3Bz0rd-1wNkK_G_tE7OCjKCSyZBE1M87RHRmp6x-9W93SqHE4npbTi8RGvmnss2048.png' %}" alt="proces tworzenia jednostek ETF 1"></div>
                </figure>
                <h4>Przykłady etfów wzorowanych indeks</h4>
                <figure style="max-width:2000pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUcZbhbee0OCPK2fMY6d_dvpTJSvv7WCCO7RgRljdu40z3jdDqoMu_ZrApkOHV58jyYnW8GhYpddKTI4HdWBfyCM73k-P9dRtgvPYKWHJrqC8VIEbV0TENrpTZMwvXsKF3WpKeYEsSHWc2kMPdKKI8JGjZyAy_QLs2048.png' %}" alt=""></div>
                  <figcaption>Pierwsze etf-y i te najbardziej popularne - to właśnie są ETF na indeksy, szczegółnie na SP500 - a więc 500 największych spółek amerykańskich. W USA popularne od lat 80 tych jako forma inwestycji - jeśli wierzysz, że gospodarka USA nadal będzie wynajdować nowe wynalazki, nowe produkty - tak jak przez poprzednie dekady - to powinieneś rozważyć ETF na sp500.</figcaption>
                </figure>
                <h4>Wykres SP500 w dłuższej perspektywie</h4>
                <figure style="max-width:1027pxpx" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUddcRmPbNCFi69y1s4MYlSE5PF3wIGOugCkDB1GXiA97WHdNDyj4oN0Qu3iqPYGJEq-wkpdoho79OQgezKnjarZKajv6T1GXz37xjGZZl2UErQCA_e-I0gi65pkfanSfb8A4uXwiOsaGL1cG3LmfM3vWN6FwBgs2048.png' %}" alt=""></div>
                </figure>
                <p>-Tutaj indeks sp500 w dłuższej perspektywie. </p>
                <p>-Widzimy na zacienionych pasmach momenty kryzysów i większych spadków.</p>
                <p>-Czy kupno sp500 gwarantuje nam bogactwo za 5 lat? </p>
                <p>-Nie - ale za 25 lat, jest duża szansa, że twoje inwestycje zyskają spor na wartości</p>
                <p>‍</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>



{% endblock content %}