{% extends 'main.html' %}
{% load static %}
{% block content %}
 <header class="uui-section_blogpost01-2">
    <div class="uui-page-padding-2">
      <div class="uui-container-large-2">
        <div class="uui-padding-vertical-xhuge-2">
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_title-wrapper-2">
              <h1 class="uui-heading-large-2">Podstawy zrównoważonego inwestowania</h1>
              <div class="uui-blogpost01_content-top-2"></div>
            </div>
          </div>
          <div class="uui-blogpost01_image-wrapper-2"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/zro_2.webp' %}" alt="" class="uui-blogpost01_image-2"></div>
          <div class="uui-max-width-large-2 align-center">
            <div class="uui-blogpost01_content-2">
              <div class="uui-text-rich-text-2 w-richtext">
                <h4>Wstęp</h4>
                <p>Giełda Papierów Wartościowych w Warszawie wyróżnia na swojej stronie internetowe trzy podstawowe style inwestowania:  agresywny, <strong>zrównoważony </strong>i konserwatywny. Wybór stylu inwestowania zależy głównie od oczekiwanej stopy zwrotu i poziomu akceptowalnego ryzyka. W tym tekście skupimy się na zrównoważonym inwestowaniu i pokażemy jak w bezpieczny sposób zadbać o swoją przyszłość.</p>
                <p>‍</p>
                <figure class="w-richtext-align-center w-richtext-figure-type-image">
                  <div><img src="{% static 'images/zro.webp' %}" loading="lazy" alt=""></div>
                </figure>
                <p>‍</p>
                <p><strong>Zrównoważony styl inwestowania </strong>– polega na inwestowaniu kapitału w akcje oraz bezpieczne instrumenty finansowe, np. obligacje solidnych emitentów. Poziom ryzyka i stopa zwrotu – średnie, w zależności od proporcji pomiędzy aktywami ryzykownymi oraz aktywami bezpiecznymi. </p>
                <p><em>Źródło: gpw.pl, “Strategie i style inwestowania” </em>
                  <a href="https://www.gpw.pl/pub/files/PDF/foldery/strategie_gieldowe_edu.pdf"><em>https://www.gpw.pl/pub/files/PDF/foldery/strategie_gieldowe_edu.pdf</em></a>
                </p>
                <p>Zanim zaczniesz inwestować</p>
                <p><strong>1. Po pierwsze: pozbądź się uciążliwych długów</strong></p>
                <p>Zanim zaczniesz myśleć o pomnażaniu oszczędności, pozbądź się balastu w postaci długów konsumenckich. Te obejmują wszelkie pożyczki krótkoterminowe, chwilówki, zadłużenie na kartach kredytowych, limity w kontach osobistych, a także kredyty samochodowe. Spłata tych zobowiązań to niczym najlepsza inwestycja - natychmiast zyskujesz oszczędności w postaci odsetek, które w przeciwnym razie trafiałyby do kieszeni parabanków i instytucji finansowych. Pamiętaj, że wysokie raty długu zjadają Twój budżet i ograniczają możliwości oszczędzania i inwestowania w przyszłości.</p>
                <p>‍</p>
                <p><strong>2. Po drugie: Zbuduj solidną poduszkę finansową</strong></p>
                <p>Zanim ruszysz na podbój rynku inwestycyjnego, zadbaj o fundusz bezpieczeństwa. Jest to rezerwa finansowa, która powinna wystarczyć na co najmniej 6 miesięcy utrzymania, nawet przy braku dochodów. Taka poduszka uchroni Cię przed koniecznością wyprzedaży aktywów inwestycyjnych w niekorzystnym momencie rynkowym, ratując Twój kapitał i potencjalne zyski. Pamiętaj, że inwestowanie wiąże się z pewnym ryzykiem, a poduszka bezpieczeństwa złagodzi jego ewentualne negatywne skutki.</p>
                <p>‍</p>
                <h5>Przedstawione poniżej elementy strategii inwestycyjnej mogą na pierwszy rzut oka wydawać się straszne, ale poniżej przedstawimy najważniejsze elementy.</h5>
                <p>‍</p>
                <figure style="max-width:902px" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                  <div><img src="{% static 'images/AGV_vUftjEJjL3McZYopT_zgFtR3vuBrR75Qu644meYa0YcY8lemOhElO93PQ2kAhTlakKRA41PRbmhl2OvT7KpRQattYXfU-kMV0EMQqmDtLCW2ho0sT_8WWVMsVTFwTSMT9ZE6pj1-wNYI3B22sTi79NkdXcehMKws2048.png' %}" alt=""></div>
                </figure>
                <p>‍</p>
                <p>Elementy Strategii Inwestycyjnej:</p>
                <h5>O Tobie</h5>
                <p>Każdy z nas jest inny, dlatego nie ma też jednej strategii inwestycyjnej która zadowoli każdego. Nawet pomimo tego, że prezentowane przez nas zrównoważone inwestowanie niesie ze sobą mniejsze ryzyko, i tak będziesz musiał/musiała odpowiedzieć sobie na pytanie na jakie ryzyko jesteś w stanie sobie pozwolić oraz na jaki okres czasu chcesz zainwestować swoje pieniądze. Dlatego tak ważne jest wcześniejsze przygotowanie poduszki finansowej. Niektóre inwestycje, takie jak akcje czy złoto mogą zwrócić się dopiero w dłuższym okresie.</p>
                <h5>O Portfelu</h5>
                <p>Wybór klasy aktywów zależy od wielu czynników, ale przede wszystkim od twojej skłonności do podejmowania ryzyka oraz czasu na jaki jesteś skłonny/skłonna zainwestować swoje oszczędności. 10-letnie obligacje skarbu państwa przyniosą nam dużo większe zyski niż obligacje 1-roczne, ale nasze oszczędności będą zamrożone na 10-krotnie dłuższy czas. Akcje i ETF-y mogą nam przynieść większe zyski niż obligacje skarbu państwa, ale obciążone są też większym ryzykiem.</p>
                <p>‍</p>
                <h4>Jak bezpiecznie inwestować w sposób zrównoważony?</h4>
                <p>Przedstawione poniżej rady pozwolą Ci zacząć swoją przygodę z inwestowaniem i zabezpieczyć swoją przyszłość</p>
                <p>‍<strong>‍</strong></p>
                <p><strong>1. Zdywersyfikuj swój portfel:</strong> Inwestuj w różne klasy aktywów, takie jak akcje, obligacje, nieruchomości i złoto. Dywersyfikacja portfela to jedna z najważniejszych zasad inwestowania. Polega ona na rozłożeniu kapitału na różne klasy aktywów, takie jak akcje, obligacje, i złoto. Celem dywersyfikacji jest zmniejszenie ryzyka inwestycyjnego i zwiększenie stabilności portfela. Zalecamy zapoznanie się ze wszystkimi aktywami przedstawionymi w prezentacji i samodzielnego dokonania świadomego wyboru.</p>
                <p>‍</p>
                <p><strong>2.Inwestuj długoterminowo: </strong>Celem zrównoważonego inwestowania jest bezpieczne budowanie kapitału w dłuższym okresie. Inwestując w ten sposób nie podwoisz swojego kapitału w ciągu miesiąca, ale za to pozwoli Ci to spać spokojnie i zabezpieczyć swoją przyszłość w tych niepewnych czasach. Inwestowanie w aktywa długoterminowe pozwoli uniknąć strat związanych z wahaniami rynku.</p>
                <p>‍</p>
                <p><strong>3.Wyrób w sobie nawyk oszczędzania: </strong>Jak głosi stare ludowe przysłowie “Grosz do grosza, a będzie kokosza”. Klucz do sukcesu nie tylko w inwestowaniu to regularność i dyscyplina. Nawet inwestując niewielkie kwoty, ale regularnie, w dłuższym okresie czasu jesteśmy w stanie zbudować solidny kapitał.</p>
                <p>‍</p>
                <p><strong>4. Wybieraj odpowiednie instrumenty: </strong>W czasach kiedy codziennie słyszymy o nowych kryptowalutach czy akcjach spółek związanych ze sztuczną inteligencją osiągających rekordowe zyski w które warto inwestować, wydaje nam się że każdy może z dnia na dzień zostać milionerem. Niestety, zwykle żeby ktoś mógł zarobić, ktoś inny musi stracić. Są to bardzo ryzykowne instrumenty. Mogą one przynieść znaczące korzyści, ale niosą ze sobą znaczne ryzyko. Na początku przygody z inwestowaniem odradzamy inwestowanie w tego typu instrumenty i skupienie się na powolnym budowaniu kapitału w dłuższym okresie czasu w bezpieczny sposób. Wszystkie przedstawione w tej prezentacji aktywa możemy zaliczyć do bezpiecznych, ponieważ mają ugruntowaną pozycję na rynku i  historię stabilnych zysków.</p>
                <p>‍</p>
                <p><strong>5. Zadbaj o swoją edukację finansową: </strong>Ta prezentacja to tylko wstęp do przygody z inwestowaniem. Jeśli zdecydujesz się na zainwestowanie swoich oszczędności po zapoznaniu się z tą prezentacją, zachęcamy do dalszej edukacji na temat aktywów w które zdecydujesz się zainwestować. Zachęcamy do dowiedzenia się przede wszystkim w jaki sposób rozliczyć zyski z inwestycji. Jako dodatkowe źródło wiedzy polecamy blog <a href="https://marciniwuc.com/"><em>https://marciniwuc.com/</em></a>
                </p>
                <p>‍</p>
                <p><strong>6. Inwestuj tylko nadwyżki finansowe: </strong>Po raz kolejny warto przypomnieć o wspomnianej wcześniej zasadzie poduszki finansowej. Nie inwestuj pieniędzy których możesz potrzebować na bieżące wydatki. Warto również wspomnieć żę inwestycją która przynosi najlepszy zwrot jest inwestycja w siebie. Dodatkowe szkolenia, kursy i zwiększenie swoich zarobków pozwoli nam na zainwestowanie większych kwot i pozwoli na zrównoważone inwestowanie.</p>
              </div>
            </div>
            <div class="uui-blogpost01_content-bottom-2">
              <div class="uui-blogpost01_tag-list-wrapper-2"></div>
            </div>
            <div class="uui-blogpost01_divider-2"></div>
          </div>
        </div>
      </div>
    </div>
  </header>


{% endblock content %}