{% extends 'main.html' %}
{% load static %}
{% block content %}
  <section class="uui-section_blogsection03">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="uui-blogsection03_component">
            <div class="uui-blogsection03_heading-wrapper">
              <div class="uui-blogsection03_heading">
                <div class="uui-max-width-large">
                  <h2 class="uui-heading-medium"><strong>Najnowsze Trendy, Strategie i Porady dla Bezpiecznego Inwestowania!
</strong></h2>
                  <div class="uui-space-xsmall"></div>
                  <div class="uui-text-size-large">Witaj na naszym blogu! Jesteśmy studentami AHE i z pasją dzielimy się wiedzą na temat ekonomii, szczególnie w kontekście zrównoważonego i bezpiecznego inwestowania. Tutaj znajdziesz cenne informacje i inspiracje, które pomogą Twojej organizacji osiągać stabilne i bezpieczne wyniki finansowe w dynamicznie zmieniającym się świecie gospodarczym. Od najnowszych trendów ekonomicznych po sprawdzone strategie inwestycyjne – wszystko w jednym miejscu, aby wspierać twój rozwój.






</div>
                </div>
              </div>
            </div>
            <div class="uui-blogsection03_list-wrapper">
              <div class="w-layout-grid uui-blogsection03_list">
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_1' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/zro_2.webp' %}" alt="" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_1' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Podstawy zrównoważonego inwestowania</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się o co chodzi w zrównoważonym inwestowaniu i poznaj esencję naszego bloga.</div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09d9" href="{% url 'blog_post_2' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/obl.webp' %}" alt="Meeting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwesowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09df" href="{% url 'blog_post_2' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Obligacje skarbowe - przewodnik</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Przewodnik po obligacjach skarbowych. Poznaj tajniki bezpiecznego sposobu inwestycji.<br></div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="{% url 'blog_post_3' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/etf.webp' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="{% url 'blog_post_3' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Wprowadzenie do ETF-ów</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się czym są oraz dlaczego warto inwestować w ETF-y<br></div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_4' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/gold.webp' %}" alt="" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_4' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Jak inwestować w złoto?</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dlaczego warto inwestować w złoto? Dowiesz się o tym z tego artykułu.</div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09d9" href="{% url 'blog_post_5' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/akcje.webp' %}" alt="Meeting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwesowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09df" href="{% url 'blog_post_5' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Przewodnik po akcjach</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Akcje i akcjonariusze. Poznaj tajniki giełdy.<br></div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="{% url 'blog_post_6' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/ppk.webp' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="{% url 'blog_post_6' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Pracownicze Plany Kapitałowe</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się dlaczego warto uczestniczyć w PPK.<br></div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="{% url 'blog_post_7' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/lok_v_obl.webp' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="{% url 'blog_post_7' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Lokaty a Obligacje</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się czym są różnią się lokaty od obligacji.<br></div>
                </div>

              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}