{% extends 'main.html' %}
{% load static %}
{% block content %}
  <section class="uui-section_blogsection03">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="uui-blogsection03_component">
            <div class="uui-blogsection03_heading-wrapper">
              <div class="uui-blogsection03_heading">
                <div class="uui-max-width-large">
                  <h2 class="uui-heading-medium"><strong>Witamy na naszym blogu poświęconym marketingowi dla organizacji pozarządowych!</strong></h2>
                  <div class="uui-space-xsmall"></div>
                  <div class="uui-text-size-large">Jesteśmy studentami AHE, którzy z pasją podchodzą do marketingu i chcą dzielić się swoją wiedzą oraz doświadczeniem z innymi. Naszym celem jest wsparcie organizacji pozarządowych w rozwijaniu skutecznych strategii marketingowych. Na naszym blogu znajdziesz podstawowe informacje, porady, analizy i inspiracje, które pomogą Ci efektywnie promować działalność Twojej organizacji. Razem odkryjemy dla Was sekrety marketingu.</div>
                </div>

              </div>

              <div class="uui-blogsection03_button-row hide-mobile-landscape">

                <a href="{% url 'blog' %}" class="uui-button w-inline-block">
                  <div>Wszystkie posty</div>
                </a>
              </div>
            </div>
            <div class="uui-blogsection03_list-wrapper">
              <div class="w-layout-grid uui-blogsection03_list">

                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_1' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/pr2.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Public relations</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_1' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Doskonały pitch</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Jak stworzyć doskonały pitch? Z tego artykułu dowiesz się co zrobić żeby informacje o twojej organizacji znalazły odbiorców</div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/1.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Rafał Kasprzyk</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">19 czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">5 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09d9" href="{% url 'blog_post_2' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/pr_comm.webp' %}" alt="Meeting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Komunikacja</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09df" href="{% url 'blog_post_2' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Modele komunikacji marketingowej</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się czym są modele komunikacji AIDA i RACE.<br></div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Mateusz Kusy</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">19 Czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">5 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="{% url 'blog_post_3' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/mkt_strategies.webp' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Badanie rynku</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="{% url 'blog_post_3' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Strategie rynkowe</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się czym są strategie rynkowe oraz zobacz jak stosują je znane marki.<br></div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/2.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Bartosz Nowacki</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">12 Czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">15 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_4' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/ad.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Reklama</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_4' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Podstawy reklamy</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się jak zostać mistrzem reklamy.</div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/1.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Rafał Kasprzyk</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">10 czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">10 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_5' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/int_mkt.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Marketing internetowy</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_5' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Marketing internetowy</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się jak zostać mistrzem reklamy w internecie.</div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/1.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Rafał Kasprzyk</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">10 czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">5 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09d9" href="{% url 'blog_post_6' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/comm_mkt.webp' %}" alt="Meeting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Komunikacja</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09df" href="{% url 'blog_post_6' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Istota komunikacji marketingowej</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Poznaj podstawy istoty marketingu i najnowsze trendy.<br></div>
                  <div class="uui-blogsection03_author-wrapper">
                    <div class="uui-blogsection03_author-image-wrapper"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-blogsection03_author-image"></div>
                    <div class="uui-blogsection03_author-text">
                      <div class="uui-blogsection03_author-heading">Mateusz Kusy</div>
                      <div class="uui-blogsection03_date-wrapper">
                        <div class="uui-text-size-small">9 Czerwiec 2024</div>
                        <div class="uui-text-divider text-size-small">•</div>
                        <div class="uui-text-size-small">10 minut</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="uui-blogsection03_button-row mobile-landscape">
              <div class="uui-button-wrapper max-width-full-mobile-landscape">
                <a href="{% url 'blog' %}" class="uui-button w-inline-block">
                  <div>Wszystkie posty</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section_team08">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="w-layout-grid uui-team08_component">
            <div class="uui-team08_content">
              <h2 class="uui-heading-medium">Poznaj nasz zespół</h2>
              <div class="uui-space-xsmall"></div>
              <div class="uui-text-size-large">Zespół naszych autorów to grupa studentów i pasjonatów w dziedzinie marketingu. Rafał, Bartosz i Mateusz łączą swoje różnorodne talenty i pasje, aby tworzyć skuteczne strategie marketingowe oraz wartościowe treści.</div>
              <div class="uui-space-medium"></div>
            </div>
            <div class="uui-team08_list-wrapper">
              <div class="w-layout-grid uui-team08_list">
                <div class="uui-team08_item">
                  <div class="uui-team08_image-wrapper"><img src="{% static 'images/1.png' %}" loading="lazy" alt="" class="uui-team08_image"></div>
                  <div class="uui-team08_item-content">
                    <div class="uui-heading-tiny">Rafał Kasprzyk</div>
                    <div class="uui-text-size-medium text-color-primary700">Autor</div>
                    <div class="uui-space-xxsmall"></div>
                  </div>
                </div>
                <div class="uui-team08_item">
                  <div class="uui-team08_image-wrapper"><img src="{% static 'images/2.png' %}" loading="lazy" alt="" class="uui-team08_image"></div>
                  <div class="uui-team08_item-content">
                    <div class="uui-heading-tiny">Bartosz Nowacki</div>
                    <div class="uui-text-size-medium text-color-primary700">Autor</div>
                    <div class="uui-space-xxsmall"></div>
                  </div>
                </div>

                <div class="uui-team08_item">
                  <div class="uui-team08_image-wrapper"><img src="{% static 'images/3.png' %}" loading="lazy" alt="" class="uui-team08_image"></div>
                  <div class="uui-team08_item-content">
                    <div class="uui-heading-tiny">Mateusz Kusy</div>
                    <div class="uui-text-size-medium text-color-primary700">Autor</div>
                    <div class="uui-space-xxsmall"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}