{% extends 'main.html' %}
{% load static %}
{% block content %}
   <section class="uui-section_blogsection03">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="uui-blogsection03_component">
            <div class="uui-blogsection03_heading-wrapper">
              <div class="uui-blogsection03_heading">
                <div class="uui-max-width-large">
                  <h2 class="uui-heading-medium"><strong>Witamy na naszym blogu o zrównoważonym inwestowaniu!</strong></h2>
                  <div class="uui-space-xsmall"></div>
                  <div class="uui-text-size-large">Jesteśmy zespołem czterech pasjonatów ekonomii i zrównoważonego inwestowania, którzy łączą swoje różnorodne talenty i doświadczenia, aby dostarczać najwyższej jakości treści. Nasza misja to pomoc inwestorom w osiąganiu sukcesów w dynamicznie zmieniającym się świecie ekonomii. Znajdziesz tu porady, analizy i inspiracje, które pomogą Ci w efektywnym i odpowiedzialnym zarządzaniu inwestycjami.
                  </div>
                </div>
              </div>
              <div class="uui-blogsection03_button-row hide-mobile-landscape">
                <a href="{% url 'blog' %}" class="uui-button w-inline-block">
                  <div>Wszystkie posty</div>
                </a>
              </div>
            </div>
            <div class="uui-blogsection03_list-wrapper">
              <div class="w-layout-grid uui-blogsection03_list">
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'blog_post_1' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/zro_2.webp' %}" alt="" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'blog_post_1' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Podstawy zrównoważonego inwestowania</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się o co chodzi w zrównoważonym inwestowaniu i poznaj esencję naszego bloga.</div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09d9" href="{% url 'blog_post_2' %} " class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/obl.webp' %}" alt="Meeting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwesowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09df" href="{% url 'blog_post_2' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Obligacje skarbowe - przewodnik</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Przewodnik po obligacjach skarbowych. Poznaj tajniki bezpiecznego sposobu inwestycji.<br></div>
                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09f4" href="{% url 'blog_post_3' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/etf.webp' %}" alt="Man pinning images on wall" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09fa" href="{% url 'blog_post_3' %}" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Wprowadzenie do ETF-ów</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Dowiedz się czym są oraz dlaczego warto inwestować w ETF-y<br></div>
                </div>
              </div>
            </div>
            <div class="uui-blogsection03_button-row mobile-landscape">
              <div class="uui-button-wrapper max-width-full-mobile-landscape">
                <a href="#" class="uui-button w-inline-block">
                  <div>View all posts</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section_team08">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="uui-blogsection03_heading-wrapper">
            <div class="uui-blogsection03_heading">
              <div class="uui-max-width-large">
                <h2 class="uui-heading-medium"><strong>Poznaj nasz zespół!</strong></h2>
                <div class="uui-space-xsmall"></div>
                <div class="uui-text-size-large">Zespół naszych autorów to grupa studentów AHE z pasją tworzących dla Was treści o ekonomii i zrównoważonym inwestowaniu. Rafał Kasprzyk, Bartosz Nowacki, Mateusz Kusy i Krzysztof Hutnik łączą swoje różnorodne talenty i pasje, aby dostarczać wartościowe analizy i strategie inwestycyjne.</div>
              </div>
            </div>
            <div class="uui-blogsection03_button-row hide-mobile-landscape">
              <a href="{% url 'authors' %}" class="uui-button w-inline-block">
                <div>Autorzy</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}