{% extends 'main.html' %}
{% load static %}
{% block content %}
  <section class="uui-section_blogsection03">
    <div class="uui-page-padding">
      <div class="uui-container-large">
        <div class="uui-padding-vertical-xhuge">
          <div class="uui-blogsection03_component">
            <div class="uui-blogsection03_heading-wrapper">
              <div class="uui-blogsection03_heading">
                <div class="uui-max-width-large">
                  <h2 class="uui-heading-medium"><strong>Sprawdź Swoją Wiedzę i Baw Się Dobrze!</strong></h2>
                  <div class="uui-space-xsmall"></div>
                  <div class="uui-text-size-large">Witaj na naszej stronie z quizami! Oferujemy szeroką gamę quizów, które pozwolą Ci sprawdzić swoją wiedzę w różnych dziedzinach, od nauki po rozrywkę. Niezależnie od tego, czy chcesz się uczyć, czy po prostu dobrze się bawić, u nas znajdziesz coś dla siebie. Dołącz do zabawy i zobacz, jak wiele wiesz!


 </div>
                </div>
              </div>
            </div>
            <div class="uui-blogsection03_list-wrapper">
              <div class="w-layout-grid uui-blogsection03_list">
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'quiz_1' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/obl.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'quiz_1' %}" target="_blank" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Sprawdź swoją wiedzę na temat Obligacji Skarbowych!</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Quiz dla inwestorów. Sprawdź swoją wiedzę o Obligacjach Skarbowych!</div>

                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'quiz_2' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/akcje.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Podstawy inwestowania</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'quiz_2' %}" target="_blank" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Sprawdź swoją wiedzę o Akcjach!</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Quiz dla mistrzów inwestowania. Sprawdź swoją wiedzę o Akcjach!</div>

                </div>
                <div class="uui-blogsection03_item">
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09bf" href="{% url 'quiz_3' %}" class="uui-blogsection03_image-link w-inline-block">
                    <div class="uui-blogsection03_image-wrapper"><img  loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="{% static 'images/etf.webp' %}" alt="Office setting" class="uui-blogsection03_image"></div>
                  </a>
                  <a href="#" class="uui-blogsection03_category-link w-inline-block">
                    <div>Komunikacja</div>
                  </a>
                  <a data-w-id="d81312c2-5372-1374-7b09-3e43cfaf09c5" href="{% url 'quiz_3' %}" target="_blank" class="uui-blogsection03_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall">Sprawdź swoją wiedzę z ETF-ach!</h3>
                    <div class="uui-blogsection03_icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="CurrentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                  <div class="uui-text-size-medium">Quiz dla mistrzów inwestowania. Sprawdź swoją wiedzę! Tylko król inwestowania uzyska 10/10.</div>

                </div>

              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}