{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="uui-section_blogsection04">
    <div class="uui-page-padding-3">
      <div class="uui-container-large-3">
        <div class="uui-padding-vertical-xhuge-3">
          <div class="uui-blogsection04_component">
            <div class="uui-blogsection04_heading-wrapper">
              <div class="uui-blogsection04_heading">
                <div class="uui-max-width-large-3">
                  <div class="uui-heading-subheading-4">Latest posts</div>
                  <h2 class="uui-heading-medium-3">Untitled blog</h2>
                  <div class="uui-space-xsmall-3"></div>
                  <div class="uui-text-size-large-3">Interviews, tips, guides, industry best practices, and news.</div>
                </div>
              </div>
            </div>
            <div class="uui-blogsection04_list-wrapper">
              <div class="w-layout-grid uui-blogsection04_list">
                <div class="uui-blogsection04_item">
                  <a data-w-id="bcdf974a-70c4-87be-223f-98e96b1a697a" href="#" class="uui-blogsection04_image-link w-inline-block">
                    <div class="uui-blogsection04_image-wrapper"><img srcset="images/Blog-Image-9-p-1080.jpeg 1080w, images/Blog-Image-9-p-1600.jpeg 1600w, images/Blog-Image-9.jpg 1680w" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="images/Blog-Image-9.jpg" alt="Office setting" class="uui-blogsection04_image"></div>
                  </a>
                  <div class="uui-blogsection04_meta-wrapper">
                    <a href="#" class="uui-blogsection04_category-link w-inline-block">
                      <div>Design</div>
                    </a>
                    <div class="uui-blogsection04_read-time">
                      <div>8 min read</div>
                    </div>
                  </div>
                  <a href="#" class="uui-blogsection04_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall-2">UX review presentations</h3>
                  </a>
                  <div class="uui-text-size-medium-4">How do you create compelling presentations that wow your colleagues and impress your managers?<br></div>
                  <div class="uui-space-small-2"></div>
                  <a data-w-id="bcdf974a-70c4-87be-223f-98e96b1a698b" href="#" class="uui-button-link-2 w-inline-block">
                    <div>Read post</div>
                    <div class="uui-button-icon-3 w-embed"><svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.83301 14.1668L14.1663 5.8335M14.1663 5.8335H5.83301M14.1663 5.8335V14.1668" stroke="CurrentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                </div>
                <div class="uui-blogsection04_item">
                  <a data-w-id="bcdf974a-70c4-87be-223f-98e96b1a6990" href="#" class="uui-blogsection04_image-link w-inline-block">
                    <div class="uui-blogsection04_image-wrapper"><img srcset="images/Blog-Image-2-p-500.jpeg 500w, images/Blog-Image-2.jpg 1680w" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="images/Blog-Image-2.jpg" alt="Man working at desk" class="uui-blogsection04_image"></div>
                  </a>
                  <div class="uui-blogsection04_meta-wrapper">
                    <a href="#" class="uui-blogsection04_category-link w-inline-block">
                      <div>Product</div>
                    </a>
                    <div class="uui-blogsection04_read-time">
                      <div>8 min read</div>
                    </div>
                  </div>
                  <a href="#" class="uui-blogsection04_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall-2">Migrating to Linear 101</h3>
                  </a>
                  <div class="uui-text-size-medium-4">Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get started.<br></div>
                  <div class="uui-space-small-2"></div>
                  <a data-w-id="bcdf974a-70c4-87be-223f-98e96b1a69a1" href="#" class="uui-button-link-2 w-inline-block">
                    <div>Read post</div>
                    <div class="uui-button-icon-3 w-embed"><svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.83301 14.1668L14.1663 5.8335M14.1663 5.8335H5.83301M14.1663 5.8335V14.1668" stroke="CurrentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                </div>
                <div class="uui-blogsection04_item">
                  <a data-w-id="bcdf974a-70c4-87be-223f-98e96b1a69a6" href="#" class="uui-blogsection04_image-link w-inline-block">
                    <div class="uui-blogsection04_image-wrapper"><img srcset="images/Blog-Image-3-p-500.jpeg 500w, images/Blog-Image-3.jpg 1680w" loading="lazy" sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, 94vw" src="images/Blog-Image-3.jpg" alt="Man pinning images on wall" class="uui-blogsection04_image"></div>
                  </a>
                  <div class="uui-blogsection04_meta-wrapper">
                    <a href="#" class="uui-blogsection04_category-link w-inline-block">
                      <div>Software Engineering</div>
                    </a>
                    <div class="uui-blogsection04_read-time">
                      <div>8 min read</div>
                    </div>
                  </div>
                  <a href="#" class="uui-blogsection04_title-link w-inline-block">
                    <h3 class="uui-heading-xsmall-2">Building your API Stack</h3>
                  </a>
                  <div class="uui-text-size-medium-4">The rise of RESTful APIs has been met by a rise in tools for creating, testing, and managing them.<br></div>
                  <div class="uui-space-small-2"></div>
                  <a data-w-id="bcdf974a-70c4-87be-223f-98e96b1a69b7" href="#" class="uui-button-link-2 w-inline-block">
                    <div>Read post</div>
                    <div class="uui-button-icon-3 w-embed"><svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.83301 14.1668L14.1663 5.8335M14.1663 5.8335H5.83301M14.1663 5.8335V14.1668" stroke="CurrentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}