                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Rafał Kasprzyk</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Rafał</strong> to student AHE oraz entuzjasta marketingu cyfrowego, znany z umiejętności tworzenia fasynujących treści. Już w dzieciństwie uwielbiał budować zamki z piasku, co rozwinęło jego kreatywność i zmysł do planowania. Rafał jest także zapalonym fanem technologii VR. W wolnym czasie podróżuje i testuje najnowsze gadżety technologiczne. Interesuje się również astronomią i często spędza noce, obserwując gwiazdy.</div>
                  </div>
                </div>
                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Bartosz Nowacki</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Bartosz </strong>to student AHE oraz kreatywny strateg, specjalizujący się w storytellingu. Jego miłość do opowieści zaczęła się w dzieciństwie, kiedy spędzał godziny na czytaniu książek przygodowych. Jest wielkim fanem Gwiezdnych Wojen, co często inspiruje jego kreatywne treści. Bartosz uwielbia podróże, a każda nowa destynacja dostarcza mu nowych pomysłów na historie, które może wykorzystać w swojej pracy. Jego pasją jest również fotografia, którą rozwija podczas swoich podróży.</div>
                  </div>
                </div>
                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Mateusz Kusy</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Mateusz </strong>to student AHE a także ekspert od obligacji skarbowych, który z pasją tworzy wartościowe treści. Jego zamiłowanie do pisania zaczęło się już w dzieciństwie, kiedy pisał krótkie opowiadania o superbohaterach. Mateusz jest także zapalonym biegaczem i regularnie bierze udział w maratonach, co dodaje mu energii i inspiracji do pracy. Interesuje się historią oraz eksperymentuje w kuchni, tworząc nowe, niebanalne przepisy. Znajomi śmieją się, że potrafi przebiec maraton i upiec trzy rodzaje ciasteczek w tym samym czasie.






</div>
                  </div>
                </div>
                <div class="uui-team09_item">
                  <div class="uui-team09_item-content">
                    <div class="uui-heading-tiny-3">Mateusz Kusy</div>
                    <div class="uui-text-size-medium-3 text-color-primary700">Autor</div>
                    <div class="uui-space-xsmall-3"></div>
                    <div class="uui-text-size-medium-3"><strong>Mateusz </strong>to student AHE a także ekspert od obligacji skarbowych, który z pasją tworzy wartościowe treści. Jego zamiłowanie do pisania zaczęło się już w dzieciństwie, kiedy pisał krótkie opowiadania o superbohaterach. Mateusz jest także zapalonym biegaczem i regularnie bierze udział w maratonach, co dodaje mu energii i inspiracji do pracy. Interesuje się historią oraz eksperymentuje w kuchni, tworząc nowe, niebanalne przepisy. Znajomi śmieją się, że potrafi przebiec maraton i upiec trzy rodzaje ciasteczek w tym samym czasie.






</div>
                  </div>
                </div>